name: Create Release

on:
  create:
    tags:
      - 'yb-voyager/v*' # Trigger on any tag starting with 'yb-voyager/v'

jobs:
  build:
    name: Build Binary
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: Build Binary
        run: |
          cd yb-voyager
          go build

      - name: Publish to the release
        run: |
          RELEASE_NAME=$(basename ${{ github.ref }})
          echo "RELEASE_NAME=${RELEASE_NAME}"
          gh release upload ${RELEASE_NAME} ./yb-voyager/yb-voyager --clobber
        env:
          GITHUB_TOKEN: ${{ github.token }}
        
        
